In [4]:
import cv2
import numpy as np
import pandas as pd

In [5]:
FABRIC_LINE = "art_gallery_pure_solids"
crop = 50

In [6]:
# Read in data
df = pd.read_csv("../web/data/" + FABRIC_LINE + ".csv")
df

         id             name                      src
0    PE-402     Cozumel Blue         PE-402_150px.jpg
1    PE-511     Dragon Fruit  PE-511-Dragon-Fruit.jpg
2    PE-421            Honey         PE-421_150px.jpg
3    PE-403      Fresh Water         PE-403_150px.jpg
4    PE-405  Cherry Lipgloss         PE-405_150px.jpg
..      ...              ...                      ...
157   PE557            Slate          PE557-Slate.jpg
158   PE558    Bougainvillea  PE558-Bougainvillea.jpg
159   PE559           Cosmos         PE559-Cosmos.jpg
160   PE560           Sedona         PE560-Sedona.jpg
161   PE561         Hibiscus       PE561-Hibiscus.jpg

[162 rows x 3 columns]

In [9]:
# Extract the average rgb colors from an image
def extract_rgb(src):
    myimg = cv2.imread("../web/images/" + FABRIC_LINE + "/" + src)
    cropped = list(map(lambda x: x[crop:-crop], myimg[crop:-crop]))
    avg_color_per_row = np.average(cropped, axis=0)
    (b, g, r) = np.round(np.average(avg_color_per_row, axis=0)).astype(int)
    return (r, g, b)

In [10]:
# Apply extraction to all images
df["rgb"] = df['src'].apply(extract_rgb)
df

         id             name                      src              rgb
0    PE-402     Cozumel Blue         PE-402_150px.jpg    (0, 171, 162)
1    PE-511     Dragon Fruit  PE-511-Dragon-Fruit.jpg    (155, 40, 73)
2    PE-421            Honey         PE-421_150px.jpg   (212, 160, 77)
3    PE-403      Fresh Water         PE-403_150px.jpg  (160, 209, 206)
4    PE-405  Cherry Lipgloss         PE-405_150px.jpg    (204, 59, 92)
..      ...              ...                      ...              ...
157   PE557            Slate          PE557-Slate.jpg     (65, 72, 80)
158   PE558    Bougainvillea  PE558-Bougainvillea.jpg   (151, 77, 112)
159   PE559           Cosmos         PE559-Cosmos.jpg  (212, 150, 187)
160   PE560           Sedona         PE560-Sedona.jpg    (183, 84, 87)
161   PE561         Hibiscus       PE561-Hibiscus.jpg    (226, 60, 72)

[162 rows x 4 columns]

In [11]:
# Write data to csv
df.to_csv("../web/data/" + FABRIC_LINE + ".csv", index=False)